.muscle-group {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.first-muscle-group {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.second-muscle-group {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.muscle-container {
  border: 1px black solid;
  height: 15rem;
  width: 15rem;
  margin-right: 1rem;
}

.muscle-text {
  text-align: center;
  margin-top: 5rem;
}