.select-drop-down {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.selection-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.select-drop-down > option {
  font-size: 11px;
}

.selection-container > h1 {
  color: #c18b10;
  text-align: center;
}