.progress-title {
  color: white;
  text-align: center;
  margin-top: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  background-color: #925446;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
}



@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .progress-title {
    margin-bottom: 10rem;
    margin-right: 10rem;
    margin-left: 10rem;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .progress-title {
    margin-bottom: 10rem;
    margin-right: 15rem;
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .progress-title {
    margin-bottom: 10rem;
    margin-right: 25rem;
    margin-left: 25rem;
  }
}

@media only screen and (min-width: 2000px) {
  .progress-title {
    margin-bottom: 10rem;
    margin-right: 30rem;
    margin-left: 30rem;
  }

}