.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #44a1bd;
  border-radius: 8px;
  align-items: center;
}

.loginForm-input {
  margin-bottom: 2rem;
  height: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.login-submit {
  border-radius: 10px;
  width: 5rem;
}

.login-label {
  color: white;
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

@media only screen and (max-width: 449px) and (min-width: 200px) {
  .login-form {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 10rem;
  }

  .heading-title {
    font-size: 2rem;
  }

  .loginForm-input {
    width: 9rem;
  }

}

@media only screen and (max-width: 750px) and (min-width: 450px) {
  .login-form {
    margin-bottom: 3rem;
    width: 400px;
  }

}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .login-form {
    margin-bottom: 5rem;
    width: 400px;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .login-form {
    margin-bottom: 5rem;
    width: 400px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .login-form {
    margin-bottom: 10rem;
    width: 400px;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2500px) {
  .login-form {
    margin-bottom: 10rem;
    width: 400px;
  }

}

@media only screen and (min-width: 2501px) {
  .login-form {
    margin-bottom: 10rem;
    width: 500px;
  }

}