.muscle-exercise-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: #54D684;
  border-radius: 6px;
}

.title-text {
  color: white;
  font-size: 2rem;
}

.muscle-group-exercise-name {
  color: white;
  font-size: 1.5rem;
  font-family: 'Muli', sans-serif;
}

.description-howto {
  color: #c18b10;
  text-align: center;
}

.input-checkbox {
  height: 16px;
  width: 16px;
  margin-right: .5rem;
}

@media only screen and (max-width: 750px) and (min-width: 450px) {
  .muscle-exercise-container {
    margin-right: 5rem;
    margin-left: 5rem;
  }

}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .muscle-exercise-container {
    margin-right: 10rem;
    margin-left: 10rem;
    height: 4rem;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .muscle-exercise-container {
    margin-right: 15rem;
    margin-left: 15rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .muscle-exercise-container {
    margin-right: 25rem;
    margin-left: 25rem;
    height: 4.5rem;
  }
}

@media only screen and (min-width: 2000px) {
  .muscle-exercise-container {
    margin-right: 35rem;
    margin-left: 35rem;
    height: 4.5rem;
  }

}