.muscle-group-exercises {
  display: flex;
  flex-direction: column;
}

.search-result-container {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  margin-top: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: #54D684;
  border-radius: 6px;
}

.search-submit {
  margin-top: 1rem;
  width: 6rem;
  cursor: pointer;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  text-align: center;
}

.submit-container > button {
  height: 2rem;
  border-radius: 8px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 8rem;
  font-family: 'Muli', sans-serif;
}

@media only screen and (max-width: 750px) and (min-width: 450px) {
  .search-result-container {
    margin-right: 5rem;
    margin-left: 5rem;
  }

}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .search-result-container {
    margin-right: 10rem;
    margin-left: 10rem;
    height: 4rem;
  }

  .muscle-group-exercises {
    margin-bottom: 10rem;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .search-result-container {
    margin-right: 15rem;
    margin-left: 15rem;
    height: 4rem;
  }

  .muscle-group-exercises {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .search-result-container {
    margin-right: 25rem;
    margin-left: 25rem;
    height: 4.5rem;
  }

  .muscle-group-exercises {
    margin-bottom: 10rem;
  }
}

@media only screen and (min-width: 2000px) {
  .search-result-container {
    margin-right: 35rem;
    margin-left: 35rem;
    height: 4.5rem;
  }

  .muscle-group-exercises {
    margin-bottom: 10rem;
  }

}