.exercise-list {
  display: flex;
}

.pre-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.input-box {
  height: 1.7rem;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
  width: 3.5rem;
  border: 1px black solid;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.exercise-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-title {
  text-align: center;
}

.exercise-list > ul {
  list-style-type: none;
  margin-left: 2rem;
  padding: 0;
}

.submit-box {
  width: 5rem;
  height: 1.2rem;
  margin-bottom: .5rem;
  height: 1.7rem;
  border-radius: 8px;
  font-size: 1.3rem;
}
