
  .weeks-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .list-container {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .week-container {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
    width: 9rem;
    height: 4rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #2b6f8a;
    color: white;
  }
  
  .column-container {
    padding: 0;
  }





  @media only screen and (max-width: 750px) and (min-width: 450px) {
    .weeks-container {
      margin-bottom: 5rem;
    }

    .week-container {
      width: 12rem;
    }
  }
  
  @media only screen and (max-width: 1000px) and (min-width: 750px) {
    .weeks-container {
      margin-bottom: 5rem;
    }

    .week-container {
      width: 15rem;
    }
  
  }
  
  @media only screen and (max-width: 1500px) and (min-width: 1000px) {
    .weeks-container {
      margin-bottom: 5rem;
    }
    .week-container {
      width: 15rem;
    }
  }
  
  @media only screen and (max-width: 2000px) and (min-width: 1500px) {
    .weeks-container {
      margin-bottom: 5rem;
    }
    .week-container {
      width: 20rem;
    }
  }
  
  @media only screen and (min-width: 2000px) {
    .weeks-container {
      margin-bottom: 5rem;
    }
    .week-container {
      width: 25rem;
    }
  
  }