.nav-menu {
  margin-bottom: .5rem;
  margin-top: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: .5rem;
  font-size: 23px;
  color: white;
  cursor: pointer;

}

.nav-box {
  position: absolute;
  background-color: white;
  width: 5rem;
  transition: width 2s;
  text-align: center;  
}


.nav-text {
  z-index: 10;
  font-family: 'Muli', sans-serif;

}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .nav-menu {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .nav-menu {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .nav-menu {
    font-size: 2rem;
  }

}

@media only screen and (min-width: 2000px) {
  .nav-menu {
    font-size: 2.5rem;
  }

}