.user-box {
  background-color: white;
  right: .01px;
  width: 80px;
  position: absolute;
  text-align: center;
}

.nav-user-false {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 22px;
  color: white;
  position: relative;
}

.user-icon {
  cursor: pointer;
}

.nav-user-true {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 22px;
  color: red;
  position: relative;
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .nav-user-true {
    font-size: 2rem;
  }

  .nav-user-false {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .nav-user-true {
    font-size: 2rem;
  }

  .nav-user-false {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .nav-user-true {
    font-size: 2rem;
  }

  .nav-user-false {
    font-size: 2rem;
  }

}

@media only screen and (min-width: 2000px) {
  .nav-user-true {
    font-size: 2.5rem;
  }

  .nav-user-false {
    font-size: 2.5rem;
  }
}